{% raw %}
<div ng-controller="MeetupCtrl as meetup">
  <ul class='list-unstyled'>
    <li ng-repeat="event in meetup.events
    |filter:{announced:true}
    |orderBy:event.time">
      <h2>
        {{ event.time+event.utc_offset|date:"MMMM d, h:mma":"UTC" }}
      </h2>
      <h3>
        <a ng-href='{{ event.event_url }}'>{{ event.name }}</a>
        <a ng-href='{{ event.gmap_url }}'>
          <span class="glyphicon glyphicon-map-marker"></span>
        </a>
      </h3>
      <div ng-bind-html="event.description">
      </div>
      <div>
        <a class="btn btn-lg btn-success"
          ng-href="{{ event.event_url }}">
          <small>{{ event.yes_rsvp_count }} Pythonistas</small><br/>
          <b>Join us!</b>
        </a>
      </div>
      <!--<div>
        {{ event|json }}
      </div>-->
    </li>
  </ul>
</div>
{% endraw %}
<script type="text/javascript">
  var meetup_signed_url = "{{ include.meetup_signed_url }}";
</script>
