{% raw %}
<div ng-controller="MeetupCtrl as meetup">
  <ul>
    <li ng-repeat="event in meetup.events
    |filter:{announced:true}
    |orderBy:event.time">
      <h2>
        {{ event.time+event.utc_offset|date:"MMMM d, h:mma":"UTC" }}
      </h2>
      <h2>
        <a href='{{ event.event_url }}'>{{ event.name }}</a>
        <a href='{{ event.gmap_url }}'>
          <span class="glyphicon glyphicon-map-marker"></span>
        </a>
      </h2>
      <div ng-bind-html="event.description">
      </div>
      <div>
        {{ event|json }}
      </div>
    </li>
  </ul>
</div>
{% endraw %}
<script type="text/javascript">
  var meetup_signed_url = "{{ include.meetup_signed_url }}";
</script>
