<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        <title>{{ page.title }} - Utah Python</title>
        <meta charset="utf-8">

        <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/combo?3.3.0/build/cssreset/reset-min.css&3.3.0/build/cssfonts/fonts-min.css&3.3.0/build/cssbase/base-min.css">
        <link rel="stylesheet" href="/static/css/base.css">

        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-24309091-1']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
    </head>

    <body id="utahpython.org"><div class="container">
        <div class="header">
            <h1><a href="/">Utah Python User Group</a></h1>
        </div>

        <div class="content">
            {{ content }}
        </div>
    </div></body>
</html>
