---
layout: base
---
<div class='container' ui-view>
  <div class="header clearfix">
    <nav>
      <ul class="nav nav-pills pull-right">
        <li role="presentation" class="active">
          <a ui-sref="about">
            About
          </a>
        </li>
        <li role="presentation">
          <a ui-sref="meetups">
            Meetups
          </a>
        </li>
        <li role="presentation">
          <a ui-sref="past_present">Past Presentations</a>
        </li>
      </ul>
    </nav>
    <h3 class="text-muted">Utah Python</h3>
  </div>

  <div class="row marketing" ui-view>
    {{ content }} 
  </div>

  <footer class="footer">
    <p>Utah Python 2015</p>
  </footer>

</div>